
{{ repo }}
{% if repo == 'openstack-ansible' %}
{{ '-' * repo | length}}
{% else %}
{{ '~' * repo | length}}
{% endif %}

{% if commits | length < 1 %}
No commits were found in `{{ repo }} <{{ commit_base_url }}>`_ between the
OpenStack-Ansible commits provided.
{% elif commits | length == 1 %}
1 commit was found in `{{ repo }} <{{ commit_base_url }}>`_ from
``{{ old_sha[0:8] }}`` to ``{{ new_sha[0:8] }}``:
{% elif commits | length > 1 %}
{{ commits | length }} commits were found in
`{{ repo }} <{{ commit_base_url }}>`_ from ``{{ old_sha[0:8] }}`` to
``{{ new_sha[0:8] }}``:
{% endif %}

{% if commits | length > 0 %}
+-{{ '-' * (commit_base_url | length + 62) }}-+-{{ '-' * 80}}-+
{% for commit in commits if not commit.summary[0:7] == 'Merge "' %}
| `{{ commit.hexsha[0:8] }} <{{ commit_base_url }}/commit/{{ commit.hexsha }}>`_ | {{ commit.summary[0:80].ljust(80) }} |
{% if not loop.last %}
+-{{ '-' * (commit_base_url | length + 62) }}-+-{{ '-' * 80}}-+
{% endif %}
{% endfor %}
+-{{ '-' * (commit_base_url | length + 62) }}-+-{{ '-' * 80}}-+
{% endif %}
